<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>i前端</title>
    <link rel="stylesheet" href="/css/common.css"/>
    <link rel="stylesheet" href="/css/mycss.css"/>
</head>
<body>
<!--顶部-->
<div class="top">
    <div class="container">
        <ul>
            <li class="favorite"><a href="">收藏i前端</a></li>
            <li class="mobilephone"><a href="">下载手机客户端</a></li>
            <li class="email">反馈邮箱：mizur@sina.com</li>
            <li class="telephone">客服热线：17002677760</li>
        </ul>
    </div>
</div>

<!--header-->
<header class="header">
    <div class="container">
        <h1 class="logo"><a href=""></a></h1>
        <div class="h_right">
            <div class="search">
                <input type="text" placeholder="课程搜索"/><button type="button"></button>
            </div>
            <div class="h_cart">
                <a href=""><em class="icon-cart"></em>我的购物车(0)<em class="icon-arrows"></em></a>
                <div class="cart_dropdown">
                    <span class="line"></span>
                    <ul>
                        <li class="clearfloat">
                            <a href=""><img src="/image/img-course/01.png" alt=""/></a>
                            <dl>
                                <dt><a href="">HTML零基础入门零基础入门零基础入门</a></dt>
                                <dd>¥599.00</dd>
                            </dl>
                            <em class="icon-remove"></em>
                        </li>
                        <li class="clearfloat">
                            <a href=""><img src="/image/img-course/02.png" alt=""/></a>
                            <dl>
                                <dt><a href="">HTML零基础入门</a></dt>
                                <dd>¥599.00</dd>
                            </dl>
                            <em class="icon-remove"></em>
                        </li>
                    </ul>
                    <div class="sum clearfloat">
                        <p>共计：<span>¥1298.00</span></p>
                        <a href="">去结算</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!--导航-->
<nav class="navbar">
    <div class="container">
        <div class="nav">
            <ul>
                <li class="active"><a href="">首页</a></li>
                <li><a href="">全部课程</a></li>
                <li><a href="">基础课程</a></li>
                <li><a href="">核心课程</a></li>
                <li><a href="">进阶课程</a></li>
                <li><a href="">名师堂</a></li>
                <li><a href="">校区</a></li>
            </ul>
        </div>
        <div class="nav_user">
            <!-- 登陆前-->
            <!--<p><a href="">登陆</a> | <a href="">注册</a></p>-->
            <!-- 登陆后-->
            <a href=""><em class="icon-user"></em>个人中心<em class="icon-triangle"></em></a>
            <div class="user_dropdown">
                <p><span>韩小米</span>，您好~<br>您在i前端共购买了<span>6</span>门课程。</p>
                <div class="userlink_1 clearfloat">
                    <a href="">我购买的课程</a>
                    <a href="">我的收藏</a>
                </div>
                <div class="userlink_2 clearfloat">
                    <a href="">进入个人中心</a>
                    <a href="">退出登陆</a>
                </div>
            </div>
        </div>
    </div>
</nav>

<!--面包屑导航-->
<div class="breadcrumb container">
    <a href="">首页</a> &gt; <a href="">校区</a>
</div>
<!--主体内容-->
<article class="address">
    <section class="clearfloat">
        <em class="icon-location"></em>
        <div class="address_detail">
            <h3>深圳中心</h3>
            <p>网上教程，会面交流</p>
            <p>咨询电话：17002677760</p>
            <p>邮编：518000</p>
        </div>
    </section>
    <section class="clearfloat">
        <em class="icon-location"></em>
        <div class="address_detail">
            <h3>深圳中心</h3>
            <p>网上教程，会面交流</p>
            <p>咨询电话：17002677760</p>
            <p>邮编：518000</p>
        </div>
    </section>
    <section class="clearfloat">
        <em class="icon-location"></em>
        <div class="address_detail">
            <h3>深圳中心</h3>
            <p>网上教程，会面交流</p>
            <p>咨询电话：17002677760</p>
            <p>邮编：518000</p>
        </div>
    </section>
    <section class="clearfloat">
        <em class="icon-location"></em>
        <div class="address_detail">
            <h3>深圳中心</h3>
            <p>网上教程，会面交流</p>
            <p>咨询电话：17002677760</p>
            <p>邮编：518000</p>
        </div>
    </section>
</article>
<!--footer-->
<footer class="footer">
    <div class="container">
        <div class="f_1 clearfloat">
            <ul>
                <li>
                    <h5>关于i前端</h5>
                    <a href="">发展历程</a>
                    <a href="">管理团队</a>
                    <a href="">企业文化</a>
                    <a href="">加入我们</a>
                </li>
                <li>
                    <h5>新手帮助</h5>
                    <a href="">学员账号</a>
                    <a href="">选课流程</a>
                    <a href="">网报流程</a>
                    <a href="">上课地点</a>
                </li>
                <li>
                    <h5>常见问题</h5>
                    <a href="">如何注册</a>
                    <a href="">如何搜课</a>
                    <a href="">如何报名</a>
                    <a href="">如何缴费</a>
                </li>
                <li>
                    <h5>联系我们</h5>
                    <a href="">校区电话</a>
                    <a href="">意见建议</a>
                    <a href="">联系邮箱</a>
                </li>
            </ul>
            <dl>
                <dt></dt>
                <dd>客服热线<br/>17002677760 ( 9:00 - 22:00 )</dd>
            </dl>
        </div>
        <div class="f_2">
            Copyright © 2016 git.ochina.com/lizhanbiao, All Rights Reserved 版权所有<br/>
            深圳前端教育科技有限公司　京ICP备123456号-1 京公网安备110180201608号
        </div>
    </div>
</footer>




<script src="/vendor/jquery/jquery-1.11.3.js"></script>
<script src="/js/main.js"></script>
<script src="/js/index.js"></script>
</body>
</html>
