<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>i前端</title>
    <link rel="stylesheet" href="/css/common.css"/>
    <link rel="stylesheet" href="/css/user.css"/>
</head>
<body>
<!--顶部-->
<div class="top">
    <div class="container">
        <ul>
           <li class="favorite"><a href="">收藏i前端</a></li>
           <li class="mobilephone"><a href="">下载手机客户端</a></li>
           <li class="email">反馈邮箱：mizur@sina.com</li>
           <li class="telephone">客服热线：17002677760</li>
        </ul>
    </div>
</div>

<!--header-->
<header class="header">
    <div class="container">
        <h1 class="logo"><a href=""></a></h1>
        <div class="h_right">
            <div class="search">
                <input type="text" placeholder="课程搜索"/><button type="button"></button>
            </div>
            <div class="h_cart">
                <a href=""><em class="icon-cart"></em>我的购物车(0)<em class="icon-arrows"></em></a>
                <div class="cart_dropdown">
                    <span class="line"></span>
                    <ul>
                        <li class="clearfloat">
                            <a href=""><img src="../img-course/01.png" alt=""/></a>
                            <dl>
                                <dt><a href="">HTML零基础入门零基础入门零基础入门</a></dt>
                                <dd>¥599.00</dd>
                            </dl>
                            <em class="icon-remove"></em>
                        </li>
                        <li class="clearfloat">
                            <a href=""><img src="../img-course/02.png" alt=""/></a>
                            <dl>
                                <dt><a href="">HTML零基础入门</a></dt>
                                <dd>¥599.00</dd>
                            </dl>
                            <em class="icon-remove"></em>
                        </li>
                    </ul>
                    <div class="sum clearfloat">
                        <p>共计：<span>¥1298.00</span></p>
                        <a href="">去结算</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!--导航-->
<nav class="navbar">
    <div class="container">
        <div class="nav">
            <ul>
                <li class="active"><a href="">个人中心</a></li>
            </ul>
        </div>
        <a href="" class="backhome">回到首页</a>
    </div>
</nav>

<section class="container user clearfloat">
    <aside class="user_side">
        <ul>
            <li class="active">个人中心首页</li>
            <li>我的课程</li>
            <li>我的收藏</li>
            <li>个人资料</li>
            <li>修改密码</li>
        </ul>
    </aside>
    <div class="user_main">
        <h2 class="title3"><span>修改密码</span></h2>
        <div class="userform">
            <ul>
                <li>
                    <span>原密码：</span>
                    <p><input type="text" placeholder="请输入您的旧密码"/></p>
                </li>
                <li>
                    <span>新密码：</span>
                    <p><input type="text" placeholder="请输入新密码"/></p>
                </li>
                <li>
                    <span>重复新密码：</span>
                    <p><input type="text" placeholder="请重复输入新密码"/></p>
                </li>
                <li class="li_btn">
                    <button type="button">提交修改</button>
                </li>
            </ul>
        </div>
    </div>
</section>
<!--footer-->
<footer class="footer">
    <div class="container">
        <div class="f_1 clearfloat">
            <ul>
                <li>
                    <h5>关于i前端</h5>
                    <a href="">发展历程</a>
                    <a href="">管理团队</a>
                    <a href="">企业文化</a>
                    <a href="">加入我们</a>
                </li>
                <li>
                    <h5>新手帮助</h5>
                    <a href="">学员账号</a>
                    <a href="">选课流程</a>
                    <a href="">网报流程</a>
                    <a href="">上课地点</a>
                </li>
                <li>
                    <h5>常见问题</h5>
                    <a href="">如何注册</a>
                    <a href="">如何搜课</a>
                    <a href="">如何报名</a>
                    <a href="">如何缴费</a>
                </li>
                <li>
                    <h5>联系我们</h5>
                    <a href="">校区电话</a>
                    <a href="">意见建议</a>
                    <a href="">联系邮箱</a>
                </li>
            </ul>
            <dl>
                <dt></dt>
                <dd>客服热线<br/>4008-220-220 ( 9:00 - 24:00 )</dd>
            </dl>
        </div>
        <div class="f_2">
            Copyright © 2017 https://git.ochina.com/lizhanbiao/, All Rights Reserved 版权所有<br/>
             深圳前端教育科技有限公司　京ICP备123456号-1 京公网安备110180201608号
        </div>
    </div>
</footer>



<script src="/vendor/jquery/jquery-1.11.3.js"></script>
<script src="/js/main.js"></script>
<!-- <script src="js/index.js"></script> -->
</body>
</html>
